@{
    ViewBag.Title = "Menu";
    Layout = null;
    var menu = ViewData["menu"] as List<web_luat.Models.tbl_MenuPage>;
}

<ul class="navbar-nav ms-auto align-items-center">
    @foreach (var item in menu)
    {
        var link = "";
        if (item.IdChuyenMuc > 0)
        {
            link = "/danh-sach-tin/" + web_luat.Models.convertChuoi.convertToUnSign2_2(item.TenDonVi) + "_" + item.IdChuyenMuc + ".html";
        }
        if (!string.IsNullOrEmpty(item.Link))
        {
            link = item.Link;
        }
        <li class="nav-item"><a class="nav-link" href="@link">@item.TenDonVi</a></li>

    }
    <li class="nav-item ms-lg-3"><a href="/#lien-he" class="btn btn-luxury py-2 px-4 text-white text-decoration-none">Nhận Báo Giá</a></li>
</ul>