@{
    ViewBag.Title = "Menu";
    Layout = null;
    var menu = ViewData["menu"] as List<web_luat.Models.tbl_MenuPage>;
}

<ul class="navbar-nav ms-auto align-items-center">
    <li class="nav-item"><a class="nav-link active" href="#">Trang Chủ</a></li>
    <li class="nav-item"><a class="nav-link" href="#du-an">Dự Án Thực Tế</a></li>
    <li class="nav-item"><a class="nav-link" href="#tai-sao-chon">Ưu Điểm</a></li>
    <li class="nav-item"><a class="nav-link" href="#quy-trinh">Quy Trình</a></li>
    <li class="nav-item"><a class="nav-link" href="#ky-ket">Hợp Đồng & Sự Kiện</a></li>
    <li class="nav-item ms-lg-3"><a href="#lien-he" class="btn btn-luxury py-2 px-4 text-white text-decoration-none">Nhận Báo Giá</a></li>
</ul>